<nav class="bg-white shadow fixed top-0 inset-x-0 z-20">
  <div class="mx-auto max-w-7xl px-2">
    <div class="relative flex h-16 justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="navbar-toggle icon-btn" aria-controls="mobile-menu" aria-expanded="false" data-action="components#toggleNavMenu">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only"><%= t('.open_menu') %></span>

          <%= render 'shared/svgs/menu' %>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <%= image_tag('logo.png', class: 'h-14 w-auto', alt: t('.logo')) %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <%= link_to t('.dashboard'), "#", class: "nav-link #{active_class('dashboard')}" %>
          <%= link_to t('.products'), "#", class: "nav-link #{active_class('index', 'products')}" %>
          <%= link_to t('.customers'), "#", class: "nav-link #{active_class('customers')}" %>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="icon-btn rounded-full">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only"><%= t('.view_notifications') %></span>
          <%= render 'shared/svgs/bell' %>
        </button>

        <!-- Profile dropdown -->
        <div class="dropdown ml-0" data-components-target='dropdown'>
          <div>
            <button type="button" class="icon-btn rounded-full dropdown-toggle" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="components#toggleDropdown">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only"><%= t('.open_user_menu') %></span>
              <%= avatar_image %>
            </button>
          </div>
          <div class="hidden dropdown-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <%= nav_user_links %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <%= render 'navbar/off_canvas' %>
</nav>
