<%= form_with(model: current_user, builder: CustomFormBuilder, class: "mt-3 md:w-3/5 w-full",
      id: dom_id(current_user, :personal_details), data: { controller: 'form' }) do |form| %>
  <div class='flex gap-4 mb-8' data-controller='file-upload'>
    <div>
      <%= form.file_field :avatar, class: 'hidden', data: { 'file-upload-target': 'fileInput', action: "file-upload#setFilename"} %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'rounded-full w-16 h-16' %>
      <% else %>
        <%= render 'shared/svgs/person', class_name: '!h-16 !w-16' %>
      <% end %>
      <span class='text-xs' data-file-upload-target='filename'></span>
    </div>

    <button type='button' class="btn link self-end text-xs" data-action="click -> file-upload#openFileInput">
      <%= t('.change') %>
    </button>
  </div>
  
  <%= form.text_field :full_name, required: false, autocomplete: 'full_name',
      autofocus: true, label: t('.name.label'), placeholder: t('.name.placeholder') %>

  <%= form.email_field :email_address, required: true, label: t('.email.label'),
      autocomplete: 'email', placeholder: t('.email.placeholder') %>

  <%= form.text_field :telephone, required: false, label: t('.telephone.label'),
      autocomplete: 'telephone', placeholder: t('.telephone.placeholder') %>

  <%= form.submit t('.submit'), class: "btn btn-primary", disabled: true %>
<% end %>