
<div class="mx-auto py-4 bg-white w-full">
  <div class="container flex w-full items-center mx-auto">
    <h1 class="hidden sm:block text-3xl font-semi-bold tracking-tight text-gray-900"><%= t('.customers') %></h1>
    <div class="flex gap-2 ml-auto">
      <%= form_with(url: users_path, method: :get, class: 'relative', data: { turbo_frame: 'customers-list', turbo_action: :advance, controller: 'inline-search' }) do %>
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <%= render 'shared/svgs/search' %>
        </div>
        <%= text_field_tag 'search', params[:search], placeholder: t('.search'), class: 'form-control pl-10 pr-3', id: 'search_customers' %>
      <% end %>

      <button class="btn icon-btn btn-primary" data-controller="modal-trigger" data-action="modal-trigger#fireModalEvent"
            data-target="#customer-modal" data-url="<%= 'new_customer_path' %>">
        <%= render "shared/svgs/plus" %>
        <span><%= t('.customer') %></span>
      </button>
    </div>
  </div>
</div>

<turbo-frame id="customers-list" action='advance'>
  <div class="scrollable-table container relative rounded border overflow-auto w-full">
    <% if @records.any? %>
      <%= render 'table', customers: @records, pagy: @pagy %>
    <% else %>
      <p class="flex h-40 justify-center items-center">
        <%= t('.no_match', search: escape_input(params[:search])) %>
      </p>
    <% end %>
  </div>

  <div class='py-2'>
    <%== pagy_info(@pagy) %>
    <%== pagy_nav(@pagy, anchor_string: 'data-turbo-action="advance"') if @pagy.pages > 1  %>
  </div>
</turbo-frame>

<%= render "shared/modal", id: "customer-modal" %>
