<%= form_with model: record, builder: CustomFormBuilder,
        id: dom_id(record), data: { controller: "form" } do |form| %>

  <% if record.service? %>
    <%= render 'records/service_form', form:, record:, service_items: %>
  <% else %>
    <div data-sales-record-target="form">
      <%= render 'records/sales_form', form:, record:, customers:, variants: %>
    </div>
  <% end %>

  <div class="flex justify-end items-center mt-8 mb-6 gap-2">
    <%= form.submit t('.submit'), class: "btn btn-primary", disabled: true %>
    <button type='button' class="btn btn-secondary" data-action="modal#closeModal">
      <%= t('.cancel') %>
    </button>
  </div>
<% end %>