<tr id="<%= dom_id(record) %>">
  <td><%= record.item_name %></td>
  <td><%= record.quantity %></td>
  <td><%= record.unit_price %></td>
  <td><%= t(".categories.#{record.category}") %></td>
  <td><%= t(".statuses.#{record.status}") %></td>
  <td><%= record.customer&.full_name %></td>
  <td><%= l(record.created_at, format: :full, date_format: current_user.date_format) %></td>
  <td class="text-xs">
    <a href="#" class="text-indigo-600 hover:text-indigo-900"><%= t('.more') %><span class="sr-only">, Lindsay Walton</span></a>
    <span>|</span>
    <a href="#" class="text-indigo-600 hover:text-indigo-900"><%= t('.revert') %><span class="sr-only">, Lindsay Walton</span></a>
  </td>
</tr>