<% url = customer.persisted? ? customer_path(customer) : customers_path %>

<%= form_with model: customer, builder: CustomFormBuilder, id: "customer-form", url: url, data: { controller: 'form' } do |form| %>
  <%= form.text_field :full_name, required: true, autofocus: true,  label: t('.full_name.label'),
      autocomplete: "telephone", placeholder: t('.full_name.placeholder') %>
  <%= form.email_field :email_address, required: false, autofocus: false,  label: t('.email.label'),
      autocomplete: "email_address", placeholder: t('.email.placeholder') %>
  <%= form.text_field :telephone, required: false, autofocus: false,  label: t('.telephone.label'),
      autocomplete: "telephone", placeholder: t('.telephone.placeholder') %>

  <div class="flex justify-end items-center mt-8 mb-6 gap-2">
    <button type='button' class="btn btn-secondary" data-action="modal#closeModal">
      <%= t('.cancel') %>
    </button>
    <%= form.submit t('.submit'), class: "btn btn-primary", disabled: true %>
  </div>
<% end %>