<div class="mx-auto md:w-3/5 w-4/5 mt-12">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-10">
    <%= t('.change_password') %>
  </h1>

  <%= form_with url: password_path(params[:token]), builder: CustomFormBuilder do |form| %>
    <%= form.password_field :password, required: true, autofocus: true,  label: t('.password.label'), placeholder: t('.password.placeholder') %>

    <%= form.password_field :password_confirmation, required: true,  label: t('.password_confirmation.label'), placeholder: t('.password_confirmation.placeholder') %>

    <%= form.submit t('.submit'), class: "mt-6 btn btn-primary" %>

    <div class="mt-3 text-xs text-gray-500">
      <p>
        <%= link_to t('.log_in'), new_session_path, class: "link" %>
      </p>
      <p>
        <%= t('.do_not_have_account') %>
        <%= link_to t('.sign_up'), "#", class: "ps-1 link" %>
      </p>
    </div>
  <% end %>
</div>
