<div class="mx-auto md:w-3/5 w-4/5 pt-12">
  <h1 class="text-2xl tracking-tight text-gray-900 mb-10">
    <%= t('.change_password') %>
  </h1>

  <%= form_with model: @user, url: password_path(params[:token]), method: :put, builder: CustomFormBuilder do |form| %>
    <%= form.password_field :password, required: true, autofocus: true,  label: t('.password.label'), placeholder: t('.password.placeholder') %>

    <%= form.password_field :password_confirmation, required: true, label: t('.password_confirmation.label'), placeholder: t('.password_confirmation.placeholder') %>

    <%= form.submit t('.submit'), class: "mt-6 btn btn-primary" %>

    <div class="mt-3 text-xs text-gray-500">
      <p>
        <%= link_to t('.log_in'), login_path, class: "link" %>
      </p>
    </div>
  <% end %>
</div>
