<% list_class = local_assigns[:list_class] || '' %>

<ul class="select-dropdown <%= list_class %>" id="customer-options" role="listbox"
    data-show="<%= customers.present? %>" data-select-dropdown-target="options">
  <% customers.each_with_index do |option, idx| %>
    <li class="select-dropdown-item"
        role="option" tabindex="-1"
        data-action='click->select-dropdown#toggleOption' role='button'
        data-select-dropdown-target='option'
        data-value="<%= option.id %>"
        data-label="<%= option.full_name %>">
      
      <%= label_tag "customer-option-#{idx}" do %>
        <%= check_box_tag "customer-option-#{idx}", option.id, option.id == selected,
              name: "record[customer_id]", id: "customer-option-#{idx}", data: { action: "select-dropdown#toggleOption" } %>

        <%= option.full_name %>
      <% end %>
    </li>
  <% end %>
</ul>