<% list_class = local_assigns[:list_class] || '' %>

<ul class="select-dropdown <%= list_class %>" id="service-item-options" role="listbox"
    data-show="<%= service_items.present? %>" data-select-dropdown-target="options">
  <% service_items.each_with_index do |option, idx| %>
    <li class="select-dropdown-item"
        role="option" tabindex="-1"
        data-select-dropdown-target='option'
        data-value="<%= option.id %>"
        data-label="<%= option.name %>">

      <%= label_tag "service-item-option-#{idx}" do %>
        <%= check_box_tag "service-item-option-#{idx}", option.id, option.id == selected,
              name: "record[service_item_id]", id: "service-item-option-#{idx}", data: { action: "select-dropdown#toggleOption" } %>

        <%= option.name %>
      <% end %>
    </li>
  <% end %>
</ul>
