<% list_class = local_assigns[:list_class] || '' %>

<ul class="select-dropdown <%= list_class %>" id="variant-options" role="listbox"
    data-show="<%= variants.present? %>" data-select-dropdown-target="options">
  <% variants.each_with_index do |option, idx| %>
    <li class="select-dropdown-item"
        role="option" tabindex="-1"
        data-action='click->select-dropdown#toggleOption' role='button'
        data-select-dropdown-target='option'
        data-value="<%= option.id %>"
        data-label="<%= option.name %>">

      <%= check_box_tag "variant-option-#{idx}", option.id, option.id == selected,
            name: "record[variant_id]", id: "variant-option-#{idx}", disable: true %>
      <%= label_tag "variant-option-#{idx}", option.name,
            class: "form-check-label" %>
    </li>
  <% end %>
</ul>