<li class="col-span-1 rounded-lg bg-white shadow p-3" id="<%= dom_id(variant, :product) %>">
  <div class="flex w-full items-center justify-between">
    <div class="flex-1 truncate">
      <h3 class="truncate text-sm font-medium text-gray-900">
        <%= variant.name %>
      </h3>
      <p class="mt-4 truncate text-sm text-gray-500 flex items-center gap-2">
        <span><%= t('.quantity') %></span>
        <span><%= variant.quantity %></span>
      </p>
    </div>
    <div class='flex gap-3 text-sm self-start'>
      <%= link_to t('.edit'), edit_product_variant_path(product, variant), class: "link" %>
      <%= button_to t('.delete'), product_variant_path(product, variant), method: :delete, class: "link delete", form_class: 'text-sm' %>
    </div>
  </div>
  <div class="flex w-full items-center justify-between">
    <div class="flex-1 truncate">
      <p class="mt-1 truncate text-sm text-gray-500 flex items-center gap-2">
        <span><%= t('.selling_price') %></span>
        <span><%= t('.price_value', price: variant.price) %></span>
      </p>
    </div>
    <p class=''>
      <%= link_to t('.set_stock'), new_product_varaint_stock_path(product, variant), class: "link text-sm" %>
    </p>
  </div>
</li>
