
<div class="mx-auto sticky top-16 py-4 bg-white w-full z-10">
  <div class="container flex w-full items-center mx-auto">
    <h1 class="hidden sm:block text-3xl font-semi-bold tracking-tight text-gray-900"><%= t('.products') %></h1>
    <div class="flex gap-2 ml-auto">
      <%= form_with(url: products_path, method: :get, class: 'relative', data: { turbo_frame: 'products-list', turbo_action: :advance, controller: 'inline-search' }) do %>
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <%= render 'shared/svgs/search' %>
        </div>
        <%= text_field_tag 'search', params[:search], placeholder: t('.search'), class: 'form-control pl-10 pr-3', id: 'search_products' %>
      <% end %>

      <button class="btn icon-btn btn-primary" data-controller="modal-trigger" data-action="modal-trigger#fireModalEvent"
            data-target="#new-product-modal" data-url="<%= new_product_path %>">
        <%= render "shared/svgs/plus" %>
        <span><%= t('.product') %></span>
      </button>
    </div>
  </div>
</div>

<turbo-frame id="products-list">
  <div class="container rounded bg-gray-100">
    <% if @products.any? %>
      <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 p-3">
        <%= render @products %>
      </ul>
    <% else %>
      <p class="flex h-40 justify-center items-center">
        <%= t('.no_match', search: sanitize(params[:search])) %>
      </p>
    <% end %>
  </div>
</turbo-frame>

<%= render "shared/modal", id: "new-product-modal" %>
