<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sales Pulse" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='h-full' data-controller="components">
    <%# <div class="form-group form-control form-control:disabled is-invalid invalid-feedback form-label cursor-not-allowed bg-gray-50 text-gray-500 ring-gray-200"><!-- This forces the Tailwind CSS classes for form builder to be loaded --></div> %>
    <%= render 'navbar/navbar' %>
    
    <main class="container mx-auto px-4 mt-18">
      <%= render 'shared/flash_alerts' %>
      <div class="w-full mt-16">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
